

.h1 {
text-align: center;
  margin-top:8%;
}

.search-bar-container {
  text-align: center;
  margin-bottom: 10px;
  
  margin-left: 50%;
}

.search-bar-container button {
  background-color: darkblue;
  margin-top: 8%;
  padding: 2px;
  border: none;
  cursor: pointer;
}

.search-bar-container input {
  width: 70%; 
  padding: 3px;
}

.create-button {
  background-color: green;
  color: white;
  padding: 9px 7px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}



.land-details-table {
  width: 75%;
  border-collapse: collapse;
  margin-left: 15%;
}

.land-details-table th,
.land-details-table td {
  padding: 4px;
  text-align: left;
}

.land-details-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  
}

.land-details-table th:first-child,
.land-details-table td:first-child {
  min-width: 60px; 
}

.land-details-table th:not(:first-child),
.land-details-table td:not(:first-child) {
  width: 100px; 
}

.img img {
  max-width: 100px;
  height: auto;
}



.land-details-table .actions button {
  margin-right: 5px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 20%;
  max-height: 50%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  
}





.popup button {
  background-color: #137077; 
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 25%;
}

.editeform input{
  width: auto;
  font-size: large;
  /* height: 10%; */

}





