@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    width: 90%;
  }

  .contact-information-section,
  .contact-form-container {
    width: 100%;
    border-right: none;
    padding: 20px; 
flex-direction: row;
  }
}
